
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2>Student Details </h2>
<h2>Student Id would be :: @ViewBag.StudentId</h2>
<h2>Student Name would be :: @ViewBag.StudentName</h2>
<h2>Student Email would be :: @ViewBag.StudentEmail</h2>
<h2>Student Contact would be :: @ViewBag.StudentContact</h2>
<h2>Student Address would be :: @ViewBag.StudentAddress</h2>