
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1 style="background-color:chartreuse">Current Date Time : @ViewData["CurrentDateTime"]</h1><hr />

<h2 style="background-color:yellow">Name : @ViewData["Name"]</h2">

<h2 style="background-color:dimgrey">The Addition would be : @ViewData["Sum"]</h2><hr />

<h2 style="background-color:aquamarine">The Multiplication would be : @ViewData["Mul"]</h2><hr />

<h2 style="background-color:coral">The StringConcat would be : @ViewData["StringConcat"]</h2><hr />
